body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f7f8;
}

.container {
  max-width: 500px;
  margin: 80px auto;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input[type="url"] {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #4cafef;
  border: none;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
}

button:hover {
  background-color: #2196f3;
}

.clear-btn {
  background-color: #f44336;
  color: white;
  border: none;
}

.clear-btn:hover {
  background-color: #d32f2f;
}

.result {
  margin-top: 20px;
}

.result a {
  display: block;
  margin-bottom: 10px;
  color: #2196f3;
  text-decoration: none;
  word-wrap: break-word;
}

.error {
  color: red;
  margin-top: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.Toastify__close-button {
  width: 20px !important;
}